.homePage {
  height: 100vh;

  /* Background Image */
  background-image: linear-gradient(to bottom right, #f857a6, #ff5858);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Optional clean fallback color */
  background-color: #eaeaea;

  /* Smoothness */
  transition: background 0.3s ease-in-out;
}
